%html
 %head
  %title Amazon AAWS
  %link{:rel => "stylesheet", :type => "text/css", :href => "./views/stylesheet.css"}
 %body
  - if !@items.nil?
   - @items.each do |item|
    %p= item.item_attributes.title
  - else
   %p{:id => "main"}= "検索結果がありません。"