%html
 %head
  %title Amazon AAWS
 %body
  - if !@items.nil?
   - @items.each do |item|
    %p
     %a{:href => "#{item.detail_page_url}", :target => "_blank"}= item.item_attributes.title
  - else
   %p{:id => "main"}= "検索結果がありません。"